<div class="jumbotron jumbotron-fluid top-section">
  <div class="container container-small">
    <div class="row">
      <div class="col-sm-7 auto-vertical">
        <h1 class="display-2 title main-content">Campfire</h1>
        <p class="subtitle main-content">Build for the <strong>community</strong></p>
        <p class="content condensed main-content">We cultivate <strong>insights</strong> from the community and
          facilitate the
          community to <strong>solve problems</strong> of their own. </p>
      </div>
      <div class="col-sm-5 form shadow">
        <div class="container form-content">
          <p class="main-content">We are looking for community feedback, support us by filling out a 1-minute survey.
          </p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div style="text-align: right">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScatDEtkIBg6K7dxAdLWXYsU9tu0sTFYKAAzExyzRZzxvXIHA/viewform?usp=sf_link"
              class="btn btn-primary">Support Us</a>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-section">
  <div class="container-fluid">
    <div class="container shadow" style="background-color: white; transform: translateY(-10%);">
      <br>
      <div class="auto-horizontal">
        <p class="section-title main-content"><strong>Our Goals:</strong></p>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-5 auto-vertical auto-horizontal">
          <div class="img">
            <img style="width: 70%" src="assets/images/landing/campfire.png">
          </div>
        </div>
        <div class="col-sm-7">
          <div class="main-content">
            <p class="steps-title condensed"><strong class="main-theme-text">&#10004;</strong> Explore Community <strong>Insights</strong></p>
            <br>
            <p class="steps-title condensed"><strong class="main-theme-text">&#10004;</strong> Cultivate <strong>Wisdom</strong> and Experience into
              <strong>Ideas</strong>
            </p>
            <br>

            <p class="steps-title condensed"><strong class="main-theme-text">&#10004;</strong> Facilitate Inner and Inter Community <strong>Problem Solving</strong></p>
            <br>
            <p class="steps-title condensed"><strong class="main-theme-text">&#10004;</strong> Grow <strong>Leaders</strong>, Give <strong>Power</strong> back to
              Community
            </p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <br>
    <div class="auto-horizontal">
      <p class="section-title main-content"><strong>Our Targets:</strong></p>
    </div>
    <br>
    <div class="row">
      <div class="col-sm">
        <div class="card no-border shadow">
          <img class="card-img-top industry-card-image mx-auto d-block" src="assets/images/landing/school.png"
            alt="school">
          <div class="card-body main-content condensed">
            <ul class="card-text card-bullet">
              <li><span class="main-theme-text">&#10144;</span> Curriculum Planning</li>
              <li><span class="main-theme-text">&#10144;</span> Retention Rate</li>
              <li><span class="main-theme-text">&#10144;</span> Student Involvement</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card no-border shadow">
          <img class="card-img-top industry-card-image mx-auto d-block" src="assets/images/landing/community.png"
            alt="community">
          <div class="card-body">
            <ul class="card-text card-bullet">
              <li><span class="main-theme-text">&#10144;</span> Resiliency </li>
              <li><span class="main-theme-text">&#10144;</span> Kupuna Care</li>
              <li><span class="main-theme-text">&#10144;</span> Sharing Economy</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card no-border shadow">
          <img class="card-img-top industry-card-image mx-auto d-block" src="assets/images/landing/enterprise.png"
            alt="enterprise">
          <div class="card-body">

            <ul class="card-text card-bullet main-content condensed">
              <li><span class="main-theme-text">&#10144;</span> Customer Experience</li>
              <li><span class="main-theme-text">&#10144;</span> Workflow Change</li>
              <li><span class="main-theme-text">&#10144;</span> Product Design</li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid">
    <div class="container">
      <br>
      <div class="auto-horizontal">
        <p class="section-title main-content"><strong>Our Ways:</strong></p>
      </div>
      <br>
      <div class="row">
        <div class="col-sm">
          <div class="card no-border shadow">
            <img class="card-img-top mx-auto d-block" src="assets/images/landing/design thinking.png" alt="school"
              style="max-width: 85%;">
            <div class="card-body main-content condensed">
              <p class="card-text method-text main-content condensed">
                Design Thinking
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card no-border shadow">
            <img class="card-img-top industry-card-image mx-auto d-block" src="assets/images/landing/hooponopono.png"
              alt="community">
            <div class="card-body">
              <p class="card-text method-text main-content condensed">
                Ho'oponopono
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>