/* You can add global styles to this file, and also import other style files */
body * {
    font-family: 'Roboto', sans-serif;
}

.condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.main-theme {
    background-color: #009688ff;
}

.main-content {
    color: #434343;
}

.main-theme-text {
    color: #009688ff;
}